<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanshuai.cms.dao.ArticleMapper">
	<resultMap id="BaseResultMap"
		type="com.yuanshuai.cms.domain.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="channel_id" property="channelId"
			jdbcType="INTEGER" />
		<result column="category_id" property="categoryId"
			jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="hits" property="hits" jdbcType="INTEGER" />
		<result column="hot" property="hot" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="deleted" property="deleted" jdbcType="INTEGER" />
		<result column="created" property="created"
			jdbcType="TIMESTAMP" />
		<result column="updated" property="updated"
			jdbcType="TIMESTAMP" />
			<!-- 封装单个java对象 -->
	<association property="user" javaType="user" select="com.yuanshuai.cms.dao.UserMapper.selectByPrimaryKey" column="user_id">
			 <!--  <result column="username" property="username"/>
			  <result  column="nickname" property="nickname"/> -->
	</association>
	</resultMap>
	<resultMap id="ResultMapWithBLOBs"
		type="com.yuanshuai.cms.domain.Article" extends="BaseResultMap">
		<result column="content" property="content"
			jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, picture, channel_id, category_id, user_id, hits, hot, status,
		deleted,summary,
		created, updated
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	
	
	<!-- 上篇 -->
	<select id="selectPre" resultMap="BaseResultMap">
	select a.*,u.nickname from cms_article a  
	left join cms_user u on a.user_id =u.id   
	 where a.id = ( select id from cms_article b  where b.channel_id =${channelId}
	    and id> #{id}
    ORDER BY created asc limit 1)
	</select>
	<!-- 下篇 -->
	<select id="selectNext" resultMap="BaseResultMap">
	select a.*,u.nickname from cms_article a  
	left join cms_user u on a.user_id =u.id   
	 where a.id = ( select id from cms_article b  where b.channel_id =${channelId}
	    and id &lt; #{id}
    ORDER BY created desc limit 1)
	</select>
	
	<!-- 文章列表查询 -->
	<select id="selects" resultMap="BaseResultMap">
		select a.*,u.username,u.nickname from cms_article a left join cms_user
		u on a.user_id = u.id
		<where>
			<if test="channelId!=null and channelId !=0">
				channel_id = #{channelId,jdbcType=INTEGER}
			</if>
			<if test="categoryId !=null and categoryId != 0">
			  and 	category_id = #{categoryId,jdbcType=INTEGER}
			</if>
			<if test="userId!=null">
			 and 	user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="status!=null and status!=9">
			  and 	status =#{status}
			</if>
			<if test="deleted!=null">
			  and 	deleted =#{deleted}
			</if>
			<if test="hot!=null">
			  and 	hot =#{hot}
			</if>
				<if test="title!=null and title!=''">
			  and 	title like "%" #{title} "%"
			</if>

		</where>
		
		
		order by updated desc

	</select>



	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		a.*,u.username,u.nickname
		from cms_article a left join cms_user u on a.user_id =u.id
		where a.id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from cms_article
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yuanshuai.cms.domain.Article">
		insert into cms_article (id, title, picture,
		channel_id, category_id, user_id,
		hits, hot, status,
		deleted, created, updated,
		content)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{picture,jdbcType=VARCHAR},
		#{channelId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{hits,jdbcType=INTEGER}, #{hot,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER},
		#{deleted,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP},
		#{content,jdbcType=LONGVARCHAR})
	</insert>
	
	
	
	
<!-- 	 10 个文本文件， -->
	<insert id="insertSelective"
		parameterType="com.yuanshuai.cms.domain.Article">
		insert into cms_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="summary != null">
				summary,
			</if>
			<if test="picture != null">
				picture,
			</if>
			<if test="channelId != null">
				channel_id,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="hits != null">
				hits,
			</if>
			<if test="hot != null">
				hot,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="updated != null">
				updated,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				#{summary,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				#{picture,jdbcType=VARCHAR},
			</if>
			<if test="channelId != null">
				#{channelId,jdbcType=INTEGER},
			</if>
			<if test="categoryId != null">
				#{categoryId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="hits != null">
				#{hits,jdbcType=INTEGER},
			</if>
			<if test="hot != null">
				#{hot,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=INTEGER},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				#{updated,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.yuanshuai.cms.domain.Article">
		update cms_article
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				picture = #{picture,jdbcType=VARCHAR},
			</if>
			<if test="channelId != null">
				channel_id = #{channelId,jdbcType=INTEGER},
			</if>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="hits != null">
				hits = #{hits,jdbcType=INTEGER},
			</if>
			<if test="hot != null">
				hot = #{hot,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=INTEGER},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				updated = #{updated,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.yuanshuai.cms.domain.Article">
		update cms_article
		set title = #{title,jdbcType=VARCHAR},
		picture = #{picture,jdbcType=VARCHAR},
		channel_id = #{channelId,jdbcType=INTEGER},
		category_id = #{categoryId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		hits = #{hits,jdbcType=INTEGER},
		hot = #{hot,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		deleted = #{deleted,jdbcType=INTEGER},
		created = #{created,jdbcType=TIMESTAMP},
		updated = #{updated,jdbcType=TIMESTAMP},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.yuanshuai.cms.domain.Article">
		update cms_article
		set title = #{title,jdbcType=VARCHAR},
		picture = #{picture,jdbcType=VARCHAR},
		channel_id = #{channelId,jdbcType=INTEGER},
		category_id = #{categoryId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		hits = #{hits,jdbcType=INTEGER},
		hot = #{hot,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		deleted = #{deleted,jdbcType=INTEGER},
		created = #{created,jdbcType=TIMESTAMP},
		updated = #{updated,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>